<input style="display: none" type="file" [multiple]="multiple" (change)="onFileSelected($event)" id="fileInput" #fileInput>
<button 
    id="uploadBtn{{id!==undefined?id:''}}" 
    type="button" (click)="fileInput.click()">
{{buttonText}}</button>
<ng-container *ngIf="showImagesOnAdd">
    <!-- <div class="imagesContainer"> -->
        <div class="imageContainer" [ngStyle]="{'width' : imageWidth, 'display' :  imageContainerDisplay}" *ngFor="let image of images; let v=index">
            <span *ngIf="imageRemoveType === 'clickOnX'" class="removeXContainer" (click)="removeImage(v)">
                <span *ngIf="imageRemoveType === 'clickOnX'" class="removeX"></span>
            </span>
            <img
            id="drag{{v}}"
            (click)="removeImage(v, true)"                                 
            [ngStyle]="{'width' : imageWidth}" [src]="image" alt="noImg">
        </div>
    <!-- </div> -->
</ng-container>
