

<app-uploader
(onFilesSelected)="readFiles($event)"
(onUploadComplete)="uploadDone($event)"
[buttonText]="'Choose Front Image'"
[buttonClass]="'btn btn-default'"
[postUrl]="'http://127.0.0.1:1334/lotus/product'"
[id]="0"
></app-uploader>

<app-uploader
(onFilesSelected)="readFiles($event)"
(onUploadComplete)="uploadDone($event)"
[buttonText]="'Choose Front Image'"
[buttonClass]="'btn btn-default'"
[postUrl]="'http://127.0.0.1:1334/lotus/product'"
[id]="1"
></app-uploader>


<app-uploader
(onFilesSelected)="readFiles($event)"
(onUploadComplete)="uploadDone($event)"
[buttonText]="'Choose Front Image'"
[buttonClass]="'btn btn-default'"
[postUrl]="'http://127.0.0.1:1334/lotus/product'"
[id]="2"
></app-uploader>